{% extends 'base.html.twig' %}

{% block title %}{% trans %}Hospitalized index{% endtrans %}{% endblock %}

{% block body %}
    <ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="www.gob.mx"><i class="icon icon-home"></i></a></li>
	<li class="breadcrumb-item"><a href="{{ path('app_index') }}">{% trans %}Begin{% endtrans %}</a></li>
	<li class="breadcrumb-item active" aria-current="page"><a href="{{ path('app_hospitalized_index') }}">{% trans %}Hospitalized{% endtrans %}</a></li>
    </ol>

    <h1>{% trans %}Hospitalized index{% endtrans %}</h1>
    <hr class="red">
    
    {{ render_datatable(datatable) }}

    {% if is_granted('ROLE_SUPER_ADMIN') %}
	<a class="btn btn-primary" href="{{ path('app_hospitalized_new') }}">{% trans %}Create new{% endtrans %}</a>
    {% endif %}
{% endblock %}
