{% extends 'base.html.twig' %}

{% block title %}New Hospitalized{% endblock %}

{% block body %}
    <h1>Create new Hospitalized</h1>

    {{ include('hospitalized/_form.html.twig') }}

    <a href="{{ path('app_hospitalized_index') }}">back to list</a>
{% endblock %}
