{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
    <h1>Search Options</h1>

    <div class="d-grid gap-2">
	<a href="{{  path('app_search_file_index') }}" class="btn btn-primary" type="button">Search Patient by file</a>    </div>
{% endblock %}
