{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
    <h1>Search Options</h1>

    <div class="d-grid gap-2">
	<a href="{{  path('app_search_file_index') }}" class="btn btn-primary" type="button">Search Patient by file</a>
	<a href="{{  path('app_search_patient_tag_index') }}" class="btn btn-primary" type="button">Search Patient by tag</a>
	<a href="{{  path('app_search_visitor_tag_index') }}" class="btn btn-primary" type="button">Search Visitor by tag</a>
    </div>
{% endblock %}
