<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Maintenance</title>
    </head>
    <body>
        <h1>Sistema en mantenimiento</h1>
        <p>Estamos realizando tareas de mantenimiento. Por favor, intente de nuevo en unos minutos.</p>
    </body>
</html>
