{% extends 'base.html.twig' %}

{% block title %}{% trans %}About{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}About{% endtrans %}</h1>

    <h2>{% trans %}Symfony Information{% endtrans %}</h2>
    <pre>{{ symfony_about }}</pre>

    <p class="text-white">{% trans %}Created by{% endtrans %} {{ creator }} ({{ year }}).</p>
{% endblock %}
