<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
	    {% block title %}
		{% trans %}INER patient and visitor check-in and check-out{% endtrans %}
	    {% endblock %}
	</title>
        {% block stylesheets %}
        {% endblock %}
	{% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
	    <link href="https://framework-gb.cdn.gob.mx/gm/v3/assets/images/favicon.ico" rel="shortcut icon">
	    <link href="https://framework-gb.cdn.gob.mx/gm/v3/assets/styles/main.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
	<main class="page">
	    {{ include('menu.html.twig') }}
	    <div class="container-md">
		{% block body %}		    
		{% endblock %}
	    </div>
	</main>
	<script src="https://framework-gb.cdn.gob.mx/gm/v3/assets/js/gobmx.js"></script>
	{% block custom_javascripts %}
	{% endblock %}
    </body>
</html>

