{% extends 'base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="www.gob.mx"><i class="icon icon-home"></i></a></li>
	<li class="breadcrumb-item active" aria-current="page"><a href="{{ path('app_index') }}">{% trans %}Begin{% endtrans %}</a></li>
    </ol>

    <h1>{% trans %}Patient and visitor check-in and check-out system{% endtrans %}</h1>
    <hr class="red">
    <div>
	<p>
	    <ul class="nav nav-tabs" id="nav-tab" role="tablist">
		<li class="nav-link active" id="nav-tab-01" data-bs-toggle="tab" href="#nav-01" role="tab" aria-controls="nav-01" aria-selected="true">{% trans %}es{% endtrans %}</li>
		<li class="nav-link" id="nav-tab-02" data-bs-toggle="tab" href="#nav-02" role="tab" aria-controls="nav-02" aria-selected="false">{% trans %}en{% endtrans %}</li>
	    </ul>
	</p>
	<div class="tab-content" id="nav-tabContent">
	    <div class="tab-pane fade show active" id="nav-01" role="tabpanel" aria-labelledby="nav-tab-01">
		<h3>¡Bienvenido!</h3>
		<p>Has entrado en el <i>{% trans %}Patient and visitor check-in and check-out system{% endtrans %}</i>. Para usar este sitio web debes tener en cuenta los siguientes elementos de navegación:</p>
		<ul>
		    <li><b>Menú principal</b>: Se encuentra en la parte superior, justo abajo del encabezado del sitio web. Sirve para encontrar las distintas secciones disponibles en el sistema. Es de color rojo y contiene estos elementos:
			<ul>
			    <li>Enlace a la búsqueda</li>
			    {% if is_granted('ROLE_ADMIN') %}
				<li>Enlace a sección de <i>Pacientes</i></li>
				<li>Enlace a sección de <i>Hospitalizados</i></li>
				<li>Enlace a sección de <i>Citas</i></li>
				<li>Enlace a sección de <i>Asistencias</i></li>
			    {% endif %}
			    <li>Enlace a sección de <i>Visitantes</i></li>
			    <li>Cambiar idioma (<i class="bi bi-translate"></i>)</li>
			    <li>Opciones de usuario (<i class="icon icon-user"></i>)</li>
			</ul>
		    </li>
		    <li><b>Menú de ruta de exploración</b>: Es el primer elemento de contenido que se observa en el sitio web. Permite conocer la ruta de su ubicación en directorios y subdirectorios, además puede permitirle una navegación más rápida. Tiene el siguiente aspecto:
			<ol class="breadcrumb">
			    <li class="breadcrumb-item"><a href="#"><i class="icon icon-home"></i></a></li>
			    <li class="breadcrumb-item"><a href="#">{% trans %}Begin{% endtrans %}</a></li>
			    <li class="breadcrumb-item active" aria-current="page"><a href="#">{% trans %}Patients{% endtrans %}</a></li>
			</ol>
			El ícono de Home (<i class="icon icon-home"></i>) siempre será un enlace al sitio principal del Gobierno de México, los otros elementos corresponden a enlaces a páginas de este sitio web, el último elemento, siempre en <b>negritas</b>, es la página donde se ubica actualmente.
		    </li>
		</ul>
		<hr>
		<h3>{% trans %}Sign in{% endtrans %}</h3>
		<p>Para iniciar sesión, debe ir al <i>botón {% trans %}Sign in{% endtrans %} (<i class="bi bi-box-arrow-left"></i>)</i> e ingresar sus credenciales.</p>
		<p>Una vez que ha iniciado sesión el botón {% trans %}Sign in{% endtrans %} será sustituido por el <i>botón {% trans %}Log out{% endtrans %}(<i class="bi bi-box-arrow-in-right"></i>)</i>.</p>
		<p>Si usted no tiene un usuario para este sitio web, deberá solicitarlo a su superior en el área de trabajo correspondiente.</p>
		<h3>{% trans %}Language{% endtrans %}</h3>
		<p>Es posible cambiar el idioma de este sitio web, presione el <i>botón de idioma (<i class="bi bi-translate"></i>)</i> y seleccione su preferencia. Actualmente está disponible el idioma inglés y español.</p>
	    </div>
	    <div class="tab-pane fade" id="nav-02" role="tabpanel" aria-labelledby="nav-tab-02">
		<h3>Welcome!</h3>
		<p>You have entered the <i>{% trans %}Patient and visitor check-in and check-out system{% endtrans %}</i>. To use this website, you should be aware of the following navigation elements:</p>
		<ul>
		    <li><b>Main Menu</b>: Located at the top, just below the website header. It is used to find the different sections available in the system. It is red and contains these elements:
			<ul>
			    <li>Link to search</li>
			    {% if is_granted('ROLE_ADMIN') %}
				<li>Link to <i>Patients</i></li>
				<li>Link to <i>Hospitalizeds</i></li>
				<li>Link to <i>Appointments</i></li>
				<li>Link to <i>Attendance</i></li>
			    {% endif %}
			    <li>Link to <i>Visitors</i></li>
			    <li>Change language (<i class="bi bi-translate"></i>)</li>
			    <li>User options (<i class="icon icon-user"></i>)</li>
			</ul>
		    </li>
		    <li><b>Browsing path menu</b>: This is the first content element you see on the website. It shows your location within directories and subdirectories, and can also allow for faster navigation. It looks like this:
			<ol class="breadcrumb">
			    <li class="breadcrumb-item"><a href="#"><i class="icon icon-home"></i></a></li>
			    <li class="breadcrumb-item"><a href="#">{% trans %}Begin{% endtrans %}</a></li>
			    <li class="breadcrumb-item active" aria-current="page"><a href="#">{% trans %}Patients{% endtrans %}</a></li>
			</ol>
			The Home icon (<i class="icon icon-home"></i>) will always link to the main Mexican Government website. The other elements are links to pages on this website. The last element, always in <b>bold</b>, indicates the page you are currently viewing.
		    </li>
		</ul>
		<hr>
		<h3>{% trans %}Sign in{% endtrans %}</h3>
		<p>To log in, you must go to the <i>{% trans %}Sign in{% endtrans %} button (<i class="bi bi-box-arrow-left"></i>)</i> and enter your credentials.</p>
		<p>Once you have logged in, the {% trans %}Sign in{% endtrans %} button will be replaced by the <i>{% trans %}Log out{% endtrans %} button (<i class="bi bi-box-arrow-in-right"></i>)</i>.</p>
		<p>If you do not have a user account for this website, you will need to request one from your supervisor in the appropriate work area.</p>
		<h3>{% trans %}Language{% endtrans %}</h3>
		<p>You can change the language of this website. Click the <i>language button (<i class="bi bi-translate"></i>)</i> and select your preference. English and Spanish are currently available.</p>
	    </div>
	</div>
    </div>
{% endblock %}
