{% extends 'base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="https://www.gob.mx"><i class="icon icon-home"></i></a></li>
	<li class="breadcrumb-item active" aria-current="page"><a href="{{ path('app_index') }}">{% trans %}Begin{% endtrans %}</a></li>
    </ol>

    <h1>{% trans %}Patient and visitor check-in and check-out system{% endtrans %} <a class="link-dark link-underline-light" href="{{ path('app_about') }}"><sup><i class="bi bi-info-circle h6"></i></sup></a></h1>
    <hr class="red">
    <div>
	<h3>{% trans %}welcome.title{% endtrans %}</h3>
	<p>{% trans %}welcome.paragraph.one{% endtrans %} <i>{% trans %}welcome.sysname{% endtrans %}</i>. {% trans %}welcome.paragraph.two{% endtrans %}:</p>
	<ul>
	    <li><b>{% trans %}welcome.paragraph.ul.one.title{% endtrans %}</b>: {% trans %}welcome.paragraph.ul.one.desc{% endtrans %}:
		<ul>
		    {% if is_granted('ROLE_USER') %}
			<li>{% trans %}welcome.paragraph.ul.one.ul.search{% endtrans %}</li>
		    {% endif %}
		    {% if is_granted('ROLE_ADMIN') %}
			<li>{% trans %}welcome.paragraph.ul.one.ul.sub{% endtrans %} <i>{% trans %}Patients{% endtrans %}</i></li>
			<li>{% trans %}welcome.paragraph.ul.one.ul.link{% endtrans %} <i>{% trans %}Appointments{% endtrans %}</i></li>
			<li>{% trans %}welcome.paragraph.ul.one.ul.link{% endtrans %} <i>{% trans %}Attendances{% endtrans %}</i></li>
			<li>{% trans %}welcome.paragraph.ul.one.ul.link{% endtrans %} <i>{% trans %}Users{% endtrans %}</i></li>
		    {% endif %}
		    {% if is_granted('ROLE_USER') %}
			<li>{% trans %}welcome.paragraph.ul.one.ul.link{% endtrans %} <i>{% trans %}Visitors{% endtrans %}</i></li>
		    {% endif %}
		    {%if is_granted('ROLE_SUPER_ADMIN') %}
			<li>{% trans %}welcome.paragraph.ul.one.ul.link{% endtrans %} <i>{% trans %}Stakeholders{% endtrans %}</i></li>
			<li>{% trans %}welcome.paragraph.ul.one.ul.link{% endtrans %} <i>{% trans %}Reports{% endtrans %}</i></li>
		    {% endif %}
		    <li>{% trans %}welcome.paragraph.ul.one.ul.lang{% endtrans %} (<i class="bi bi-translate"></i>)</li>
		    <li>{% trans %}welcome.paragraph.ul.one.ul.user{% endtrans %} (<i class="icon icon-user"></i>)</li>
		</ul>
	    </li>
	    <li><b>{% trans %}welcome.paragraph.ul.two.title{% endtrans %}</b>: {% trans %}welcome.paragraph.ul.two.desc{% endtrans %}:
		<ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="#"><i class="icon icon-home"></i></a></li>
		    <li class="breadcrumb-item"><a href="#">{% trans %}Begin{% endtrans %}</a></li>
		    <li class="breadcrumb-item active" aria-current="page"><a href="#">{% trans %}Patients{% endtrans %}</a></li>
		</ol>
		{% trans %}welcome.paragraph.ul.three{% endtrans %} (<i class="icon icon-home"></i>) {% trans %}welcome.paragraph.ul.four{% endtrans %} <b>{% trans %}welcome.paragraph.ul.five{% endtrans %}</b>, {% trans %}welcome.paragraph.ul.six{% endtrans %}.
	    </li>
	</ul>
	<hr>
	<h3>{% trans %}session.title{% endtrans %}</h3>
	<p>{% trans %}session.paragraph.one{% endtrans %} <i>{% trans %}session.paragraph.user{% endtrans %} (<i class="icon icon-user"></i>)</i> {% trans %}session.paragraph.two{% endtrans %} <i>{% trans %}session.title{% endtrans %}</i>.</p>
	<p>{% trans %}session.paragraph.three{% endtrans %} <i>{% trans %}session.paragraph.user{% endtrans %} (<i class="icon icon-user"></i>)</i> {% trans %}session.paragraph.four{% endtrans %}:
	    <ul>
		<li>{% trans %}Profile{% endtrans %}</li>
		<li>{% trans %}Log out{% endtrans %}</li>
		{% if is_granted('ROLE_ADMIN') %}
		    <li>{% trans %}User index{% endtrans %}</li>
		{% endif %}
	    </ul>
	</p>
	<p>{% trans %}session.paragraph.five{% endtrans %}</p>
	<h3>{% trans %}Language{% endtrans %}</h3>
	<p>{% trans %}session.paragraph.six{% endtrans %} <i>{% trans %}session.paragraph.lang{% endtrans %} (<i class="bi bi-translate"></i>)</i> {% trans %}session.paragraph.seven{% endtrans %}</p>
    </div>
{% endblock %}
